<br><div style="font-size: 20px;">
<% flash.each do |type, msg| %>
  <div id="flash">
  	<div class="alert alert-info">
    	<%= msg %>
  	</div>
  </div>
<% end %>
	<a><b>Tujuan Nabung</b><a style="padding-left: 42px;">:</a> <%= @tabungan.tujuan_nabung %>,</a> 	<a><b>Target Dana</b> : <%= @tabungan.format2 %></a><br>
	<a><b>Biaya Perbulan</b> <a style="padding-left: 36px;">:</a> <%= @tabungan.format %><br></a>
	<a><b>Tempo</b> <a style="padding-left: 117px;">:</a> <%= @tabungan.tempo %> Bulan <a>/ <%= @tabungan.tempo.fdiv(12).round(1) %> Tahun</a><br></a>	
	<a><b>Range Bunga</b> <a style="padding-left: 53px;">:</a> <%= @tabungan.bunga.bunga %> <%= @tabungan.bunga.range_bunga %>%<br></a>
	<a><b>Saldo Awal</b> <a style="padding-left: 77px;">:</a> <%= @tabungan.format %><br></a>
	<a><b>Biaya Admin</b><a style="padding-left: 67px;">:</a> Rp. 5.000</a><br>
	<a><b>Awal Mulai Nabung</b> : <%= @tabungan.awal_nabung %><br></a>
</div>
<%= render 'layouts/header' %>
<div class="table-responsive">	    	
	<table class="table">
	  <% i = 0 %>
	  <% a = @tabungan.biaya_perbulan+@tabungan.biaya_perbulan %>
	  <% b = @tabungan.biaya_perbulan %>
	  <% c = ((b/100)*@tabungan.bunga.range_bunga)/12 %>
	  <% cd = ((b/100)*@tabungan.bunga.range_bunga)/12 %>
	  <% sm = ((b/100)*@tabungan.bunga.range_bunga)/12 %>
	  <% ccc = ((b/100)*@tabungan.bunga.range_bunga)/12 %>
	  <% d = ((ccc/100.to_f)*10).round(1) %>
	  <% dd = ((ccc/100.to_f)*10).round(1) %>

	  <% saldo_akhir = b+c-d %>
	  <thead>
	    <tr>
	  		<% @tabungan.dates.in_groups_of(12, false) do |row_task| %>
	  		<% row_task[0].each do |qwe| %>
	      		<th scope="col">Tahun <%= qwe.strftime("%Y") %></th>
	  	  			<% for task in row_task %>
	      				<th><%= task.first.strftime("%d:%b:%Y") %></th>
	      			<% end %>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Saldo Awal</th>
	      <% for l in row_task %>
	      	<% if (l == @tabungan.dates.first || l == @tabungan.dates.second )  %>
	      		<td><%= number_to_currency(i+=@tabungan.biaya_perbulan, unit: "Rp. ", separator: ",", delimiter: ".") %></td>
	      		<% next %>
	      	<% end %>

	  		<% cc = c+=((b/100)*@tabungan.bunga.range_bunga)/12 %>
	  		<% cdd = d+=((cd/100.to_f)*10).round(1) %>
	      		<td><%= number_to_currency(a+=@tabungan.biaya_perbulan-5000+cc-cdd, unit: "Rp. ", separator: ",", delimiter: ".") %></td>
	      <% end %>
	    </tr>

	    <tr>
	      <th scope="row">Admin</th>
	      <% for ii in row_task do %>
	      	<% if ii == @tabungan.dates.first %>
	      		<td></td>
	      		<% next %>
	      	<% end %>

	      	<td>Rp. 5.000</td>
	      <% end %>
	    </tr>

	    <tr>
	      <th scope="row">Bunga <%= @tabungan.bunga.range_bunga %>%</th>
	      <% for u in row_task do %>
	      	<% if u == @tabungan.dates.first %>
	      		<td></td>
	      		<% next %>
	      	<% end %>
	      <td><%= number_to_currency(ccc+=(b/100)*@tabungan.bunga.range_bunga/12, unit: "Rp. ", separator: ",", delimiter: ".") %></td>
	      <% end %>
	    </tr>

	    <tr>
	      <th scope="row">Pajak 10%</th>
	      <% for j in row_task do %>
	      	<% if j == @tabungan.dates.first %>
	      		<td></td>
	      		<% next %>
	      	<% end %>
	      <td><%= number_to_currency(dd+=((sm/100.to_f)*10).round(1), unit: "Rp. ", separator: ",", delimiter: ".")%></td>
	      <% end %>
	    </tr>

	    <tr>
	      <th scope="row">Setoran</th>
	      <% for k in row_task do  %>
	      	<td><%= @tabungan.format %></td>
	      <% end %>
	    </tr>
	  </tbody>
	      	 <% end %>
	      	<% end %>
	</table>
	<h4>Note! Bunga didapat dari biaya perbulan dari bulan kedua - admin *<%=@tabungan.bunga.range_bunga%>%</h4>
	<h4>Note! Pajak didapat dari Bunga * 10%</h4>
</div><br>