<br><div class="container" style="font-size: 20px;">
<% flash.each do |type, msg| %>
  <div id="flash">
  	<div class="alert alert-info">
    	<%= msg %>
  	</div>
  </div>
<% end %>
	<a><b>Tujuan Nabung</b><a style="padding-left: 42px;">:</a> <%= @tabungan.tujuan_nabung %>,</a> 	<a><b>Target Dana</b> : <%= @tabungan.format2 %></a><br>
	<a><b>Biaya Perbulan</b> <a style="padding-left: 36px;">:</a> <%= @tabungan.format %><br></a>
	<a><b>Tempo</b> <a style="padding-left: 117px;">:</a> <%= @tabungan.tempo %> Bulan <a>=> <%= @tabungan.tempo.fdiv(12).round(1) %> Tahun</a><br></a>	
	<a><b>Range Bunga</b> <a style="padding-left: 53px;">:</a> <%= @tabungan.bunga.bunga %> <%= @tabungan.range_bunga %>%<br></a>
	<a><b>Saldo Awal</b> <a style="padding-left: 77px;">:</a> <%= @tabungan.format %><br></a>
	<a><b>Biaya Admin</b><a style="padding-left: 67px;">:</a> Rp. 5.000</a><br>
	<a><b>Awal Mulai Nabung</b> : <%= @tabungan.awal_nabung %><br></a><br><br>
</div>

<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Tahun 1</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Saldo Awal</th>
	      <td><%= @tabungan.format %></td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>

	    <tr>
	      <th scope="row">Admin</th>
	      <td>0</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>

	    <tr>
	      <th scope="row">Bunga</th>
	      <td>0</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>

	    <tr>
	      <th scope="row">Pajak</th>
	      <td>0</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>

	    <tr>
	      <th scope="row">Setoran</th>
	      <td><%= @tabungan.format %></td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	  </tbody>
	</table>