<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>


    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').remove();
        }, 10000);
       })

      // var rupiah = document.getElementById('target_dana');
      //   rupiah.addEventListener('keyup', function(e){
      //       // tambahkan 'Rp.' pada saat ketik nominal di form kolom input
      //       // gunakan fungsi formatRupiah() untuk mengubah nominal angka yang di ketik menjadi format angka
      //       rupiah.value = formatRupiah(this.value, 'Rp. ');
      //   });
      //   /* Fungsi formatRupiah */
      //   function formatRupiah(angka, prefix){
      //       var number_string = angka.replace(/[^,\d]/g, '').toString(),
      //       split           = number_string.split(','),
      //       sisa             = split[0].length % 3,
      //       rupiah             = split[0].substr(0, sisa),
      //       ribuan             = split[0].substr(sisa).match(/\d{3}/gi);
         
      //       // tambahkan titik jika yang di input sudah menjadi angka satuan ribuan
      //       if(ribuan){
      //           separator = sisa ? '.' : '';
      //           rupiah += separator + ribuan.join('.');
      //       }
         
      //       rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      //       return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
      //   }

      //   var rupiahh = document.getElementById('biaya_perbulan');
      //   rupiahh.addEventListener('keyup', function(e){
      //       // tambahkan 'Rp.' pada saat ketik nominal di form kolom input
      //       // gunakan fungsi formatRupiah() untuk mengubah nominal angka yang di ketik menjadi format angka
      //       rupiahh.value = formatRupiah(this.value, 'Rp. ');
      //   });
      //   /* Fungsi formatRupiah */
      //   function formatRupiah(angka, prefix){
      //       var number_string = angka.replace(/[^,\d]/g, '').toString(),
      //       split           = number_string.split(','),
      //       sisa             = split[0].length % 3,
      //       rupiahh             = split[0].substr(0, sisa),
      //       ribuan             = split[0].substr(sisa).match(/\d{3}/gi);
         
      //       // tambahkan titik jika yang di input sudah menjadi angka satuan ribuan
      //       if(ribuan){
      //           separator = sisa ? '.' : '';
      //           rupiahh += separator + ribuan.join('.');
      //       }
         
      //       rupiahh = split[1] != undefined ? rupiahh + ',' + split[1] : rupiahh;
      //       return prefix == undefined ? rupiahh : (rupiahh? 'Rp. ' + rupiahh : '');
      //   }

      //   var rupiahhh = document.getElementById('saldo_awal');
      //   rupiahhh.addEventListener('keyup', function(e){
      //       // tambahkan 'Rp.' pada saat ketik nominal di form kolom input
      //       // gunakan fungsi formatRupiah() untuk mengubah nominal angka yang di ketik menjadi format angka
      //       rupiahhh.value = formatRupiah(this.value, 'Rp. ');
      //   });
      //   /* Fungsi formatRupiah */
      //   function formatRupiah(angka, prefix){
      //       var number_string = angka.replace(/[^,\d]/g, '').toString(),
      //       split           = number_string.split(','),
      //       sisa             = split[0].length % 3,
      //       rupiahhh            = split[0].substr(0, sisa),
      //       ribuan             = split[0].substr(sisa).match(/\d{3}/gi);
         
      //       // tambahkan titik jika yang di input sudah menjadi angka satuan ribuan
      //       if(ribuan){
      //           separator = sisa ? '.' : '';
      //           rupiahhh += separator + ribuan.join('.');
      //       }
         
      //       rupiahhh = split[1] != undefined ? rupiahhh + ',' + split[1] : rupiahhh;
      //       return prefix == undefined ? rupiahhh : (rupiahhh? 'Rp. ' + rupiahhh : '');
      //   }
  </script>
  </body>
</html>
